[mysqld]
# Disable strict SQL mode
sql_mode=""

# Optimisations to reduce resource use
# http://www.tocker.ca/2014/03/10/configuring-mysql-to-use-minimal-memory.html

# Changes from defaults

#max_connections = 100
max_connections = 10

#query_cache_siz = 64M
query_cache_size = 256K

#thread_cache_size = 128
thread_cache_size = 0

#sort_buffer_size = 4M
sort_buffer_size = 64K

#bulk_insert_buffer_size = 16M
bulk_insert_buffer_size = 0

#tmp_table_size = 32M
tmp_table_size = 1K

#max_heap_table_size = 32M
max_heap_table_size = 16K

#key_buffer_size = 128M
key_buffer_size = 1M

#read_buffer_size = 2M
read_buffer_size = 8K

#read_rnd_buffer_size = 1M
read_rnd_buffer_size =  8K

#innodb_buffer_pool_size = 256M
innodb_buffer_pool_size = 5M

#innodb_log_buffer_size = 8M
innodb_log_buffer_size = 256K

performance_schema = off